<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<form method="post">
    {{searchform.csrf_token()}}
    {{searchform.author.label}}{{searchform.author}}
    {{searchform.book.label}}{{searchform.book}}
    {{searchform.submit}}
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
</form>
<ul>
    {% for author in authors %}
    <li>{{ author.name }}<a href="{{ url_for("book.deleteauthor",author_id=author.id) }}">删除</a></li>
    <ul>
        {% for book in author.books %}
        <li>{{book.name}}<a href="{{ url_for("book.deletebook",book_id=book.id) }}">删除</a> </li>
        {% else %}
        <li>无</li>
        {% endfor %}
    </ul>
    {% else %}
    <li>无</li>
    {% endfor %}
</ul>
</body>
</html>