<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .container{
      width: 200px;
      height: 300px;
      background: #ff0000;
    }

    .item{
      width: 200px;
      height: 100px;
      background: pink;
    }

    .dragOver{
      background: rgba(255, 0, 0, 0.5);
    }
    .hidden{
      display: none;
    }
  </style>
</head>
<body>
  <div class="container" id='container' ondragleave="dragleave()" ondragenter="dragenter()" ondrop="drop()" ondragover="dragover()"></div>
  <div class="item" draggable="true" ondragstart="dragStart()" id="item"></div>
  <img src="../image/fore_1.png" class="hidden"/>
  <script>
    function dragStart(e){
      e.dataTransfer.setData('id', e.target.id);
      let image = document.querySelector('img').cloneNode();
      image.classList.remove('hidden');
      e.dataTransfer.setDragImage(image,150,150);
    }

    function drop(e){
      e.preventDefault();
      let id = e.dataTransfer.getData('id');
      e.target.appendChild(document.getElementById(id));
    }

    function dragover(e){
      e.preventDefault();
      e.target.classList.add('dragOver');
    }

    function dragleave(e){
      console.log('leave');
      e.target.classList.remove('dragOver');
    }
  </script>
</body>
</html>